jenkins_data/.ipynb_checkpoints/jenkins_eda-checkpoint.ipynb
**/.vscode/**
jenkins_data/projects.csv
**/data*/**
**/__pycache__/**
**/db_home/**
sqlite-jdbc-3.8.6.jar
jenkins_builds.csv
db/db_home/
sonarcloud_data/projects_on_jenkins.txt
sonarcloud_data/projects_on_sonarcloud.txt
sonarcloud_data/agg_sonar.csv
sonarcloud_data/sonar_data/
**/test.py
spark_artefacts
.DS_Store

.env/**
# Temporary for git module
git/**
**/test_data/**

# Pyenv
.python-version

note